$white: #EEEEEE;
$yellow: #FFC069;
$brown: #A45D5D;
$dark-brown: #4A403A;

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

.head {
    display: grid;
    grid-template-rows: 18% 60% 22%;
    
    align-content: center;
    width: 100%;
    height: 20%;
    > .use-code {
        background: $yellow;
        width: 100%;
        
        display: grid;
        justify-content: center;
        align-content: center;
        > h4{
            font-size: 0.8em;
            
        }
    }
    > .main-header {
        background: $white;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        justify-content: center;
        align-content: center;
        position: relative;
        > .logo{
            margin: 0 auto;
        }
        > .search-cart{
            float: left;
            
        }
        }
        > .log-in {
            height: fit-content;
            > p{
                
                float: right;
            }
            
        }   

    > .navbar {
        background: $brown;
        width: 100%;
        > .nav-list{
            width: 100%;
            height: 100%;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-content: center;
            > li {
                padding: 2px 4px;
                width: fit-content;
                height: fit-content;
            }
        }
    }
}
